/**
 * PlayingCard component
 */

.PlayingCard {
  width: 140px;
  height: 210px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid tomato;
  border-radius: 3px;
}
